{% extends 'member/base.html' %}
{% load humanize %}
{% block title %}
{% endblock %}
{% block content %}
<div class="container my-3">
<div class="card">
    <div class="card-body">
      <h5 class="card-title">{{ object.fo_title}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ object.author}} | {{ object.fo_day }}</h6>
      <p class="card-text">{{ object.fo_desc|linebreaks}}</p>
      
      {% if object.author_id == user.id %}
      <a href="{% url 'forum:edit' object.id %}" class="card-link">수정</a>
      <a href="{% url 'forum:delete' object.id %}" class="card-link">삭제</a>
      {% endif %}
    </div>
  </div>
  </div>
{% endblock %}